/** SIREN COLORS : START **/
.yellow-1-bg {
  background: #fbb03a !important;
}

.yellow-2-bg {
  background: #ed9126 !important;
}

.yellow-3-bg {
  background: #de7311 !important;
}

.blue-1-bg {
  background: #18344b !important;
}

.blue-2-bg {
  background: #18344b !important;
}

.gray-1-bg {
  background: #ececec !important;
}
/** SIREN COLORS : END **/
