---
---

@import "{{ site.theme }}";
@import "colors";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: Arial;
  color: gray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0px;

  ul {
    padding-left: 20px; /* Adjust as needed */
  }
}

#content {
  max-width: 900px;
  margin: 0px auto;
  padding: 20px;
  flex-grow: 1;
  display: block;

  table {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

.page-header {
  width: 100%;
  display: block;
  flex-grow: 0;
  background-color: #0a0e2b;
  position: unset;
  float: unset;

  #header-logo {
    max-width: 400px;
    width: 70%;
    height: auto;
    margin: 20px auto 40px auto;
    
    img {
      max-width: unset;
      width: 100%;
    }
  }
}

#content {
  max-width: 80vw;
  margin: 0px auto;
  padding: 20px;
  flex-grow: 1;
  display: block;
}

.site-footer {
  flex-grow: 0;
  position: unset;
  float: unset;
  width: 100%;
  padding: 10px;
  font-size: small;
  text-align: center;
}

.container {
  width: 60vw;
  max-width: 60vw;
  padding: 20px;
}

.plugin-section {
  margin-bottom: 40px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  padding: 20px;
}

.section-title {
  color: #2c3e50;
  border-bottom: 2px solid #3498db;
  padding-bottom: 10px;
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.plugin-flex {
  display: flex;
  flex-wrap: wrap;
}

.plugin-card {
  flex: 1 0 280px;
  margin: 10px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.plugin-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-color: #3498db;
}

.plugin-link {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 20px;
  height: 100%;
}

.plugin-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.plugin-icon i {
  font-size: 2rem;
  color: #003997;
  background-color: rgba(52, 152, 219, 0.1);
  padding: 15px;
  border-radius: 50%;
}

.plugin-title {
  font-size: 1.1rem;
  color: #2c3e50;
  margin-bottom: 10px;
  text-align: center;
}

.plugin-description {
  color: #7f8c8d;
  font-size: 0.9rem;
  margin: 0;
  text-align: center;
}

@media (max-width: 768px) {
  .plugin-card {
    flex-basis: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .plugin-card {
    flex-basis: 100%;
  }
}