<head>
  <script src="https://kit.fontawesome.com/fdeff5f0cb.js" crossorigin="anonymous"></script>
</head>

<header class="page-header"
        role="banner">

  <link rel="stylesheet" type="text/css" href="/assets/main.css">
  <div id="header-logo">
		<a href="https://siren.io"><img src="/assets/images/Siren-small_V1.1.png"></a>

	</div>
</header>

<main id="content" class="main-content" role="main">
  {{ content }}
</main>

<footer class="site-footer">&copy; <script>document.write(new Date().getFullYear())</script> Siren Solutions</footer>
